# ignore TextMate's project files
*.tmproj

# ignore LaTeX artefacts
*.ptb
*.aux
*.log
*.bbl
*.pdf
*.tex
# ignore the swp files created by vim
*.swp

# ignore mac specific files
.DS_Store

*~
\#*\#

dist/